@using OgrenciNotMvc.Models.EntityFramework
@{
    ViewBag.Title = "YeniKulup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Kulüp Ekleme Sayfası</h1>

<form class="form-group" method="post">
    <div>
        <label>Kulüp  Adı</label>
        <input type="text" name="KULUPAD" value="" class="form-control" />
    </div>
    <div style="margin-top:10px">
        <button class="btn btn-info">Kulüp Ekle</button>
    </div>
</form>

